<header class="navbar bg-body-tertiary navbar-expand-lg fixed-top custom-navbar">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/home">
      <img src="logo.png" alt="Logo" style="height: 50px;">
    </a>

    <!-- Botão do menu hambúrguer para dispositivos menores -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Conteúdo do navbar -->
    <div class="collapse navbar-collapse" id="navbarContent" #navbarContent>

      <!-- Barra de busca -->
      <form class="d-flex w-100 mx-lg-4">
        <input class="form-control me-2" type="search" placeholder="Buscar produtos" aria-label="Search">
        <button class="btn btn-secondary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
      <!-- Ícones à direita -->
      <ul class="navbar-nav ms-auto" [hidden]="!authService.isAuthenticated()">
        <li class="nav-item">
          <a class="navbar-brand" href="#"><i class="bi bi-question-circle"></i>&nbsp;Ajuda</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#"><i class="bi bi-bank"></i>&nbsp;Central de Vendas</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#"><i class="bi bi-bag-check"></i>&nbsp;Vender</a>
        </li>
        <!-- Carrinho -->
        <li class="nav-item">
          <a class="nav-link position-relative" href="#">
            <i class="bi bi-cart" style="font-size: 1.5rem;"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              3
            </span>
          </a>
        </li>
        <!-- Notificações -->
        <li class="nav-item">
          <a class="nav-link position-relative" href="#">
            <i class="bi bi-bell" style="font-size: 1.5rem;"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
              5
            </span>
          </a>
        </li>
        <!-- Usuário -->
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" type="button" #userDropdown d="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleDropdown()">
            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" (click)="Profile()">Perfil</a></li>
            <li><a class="dropdown-item" (click)="logout()">Sair</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto" [hidden]="authService.isAuthenticated()">
        <li class="nav-item">
          <a class="navbar-brand" (click)="helpOpen()"><i class="bi bi-question-circle"></i>&nbsp;Ajuda</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" (click)="loginOpen()"><i class="bi bi-box-arrow-in-right"></i>&nbsp;Login</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" (click)="newAccountOpen()"><i class="bi bi-person-add"></i>&nbsp;Nova Conta</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<app-login #loginComponent/>

