:host{
  .login-body {
    min-height: 100dvh;
    height: 100vh;
    height: 100svh;
    justify-content: center;
    align-items: flex-start;
  }

  .login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .login-card {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 30px;
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }

  .input-group-text {
    background-color: #FFC312;
    border: none;
  }

  .login_btn {
    background-color: #FFC312;
    color: black;
  }

  .login_btn:hover {
    background-color: white;
    color: black;
  }
  .login-link {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 500;
  }

  .login-link:hover {
    text-decoration: underline;
    color: #ffc312;
  }


.password-strength {
  font-weight: bold;
  font-size: 14px;
}

.fraca {
  color: red;
}

.media {
  color: orange;
}

.forte {
  color: #00ff00;
}
input.ng-invalid.ng-touched {
  border-color: red;
}
}
