
:host{
  .sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    padding: 15px;
    overflow-y: auto;
    transition: transform 0.3s ease;
    position: fixed;
    top: 120px;
    bottom: 50px;
    left: 0;
    transform: translateX(-100%);
    z-index: 1040;
  }

  .sidebar.show {
    transform: translateX(0);
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 250px;
      top: 120px;
    }
  }
}
