body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

// header {
//   height: 70px;
//   background-color: #007bff;
//   color: white;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0 15px;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1030;
// }

// footer {
//   height: 50px;
//   background-color: #f8f9fa;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   z-index: 1030;
// }

.content {
  display: flex;
  flex: 1;
  //margin-top: 70px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
}

// .sidebar {
//   width: 250px;
//   background-color: #343a40;
//   color: white;
//   padding: 15px;
//   overflow-y: auto;
//   transition: transform 0.3s ease;
//   position: fixed;
//   top: 70px;
//   bottom: 50px;
//   left: 0;
//   transform: translateX(-100%);
//   z-index: 1040;
// }

// .sidebar.show {
//   transform: translateX(0);
// }

.main-content {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

// @media (max-width: 768px) {
//   .sidebar {
//     width: 250px;
//     top: 70px;
//   }
// }
