:host{
.pagination.pagination-gray .page-link {
  color: #6c757d;
  background-color: #f8f9fa;
  border-color: #dee2e6;
  transition: background-color 0.3s, color 0.3s;
  padding: 0.5rem 0.75rem; /* tamanho confortável */
  font-size: 1rem; /* fonte padrão */
}

.pagination.pagination-gray .page-link:hover,
.pagination.pagination-gray .page-link:focus {
  color: #495057;
  background-color: #e9ecef;
  border-color: #adb5bd;
  box-shadow: none !important;
  outline: none !important;
}

.pagination.pagination-gray .page-item.active .page-link {
  background-color: #212529;
  border-color: #212529;
  color: white;
  font-weight: bold;
  box-shadow: none !important;
  outline: none !important;
}

.pagination.pagination-gray .page-item:first-child .page-link:hover,
.pagination.pagination-gray .page-item:last-child .page-link:hover {
  background-color: #16181b;
  color: white;
  border-color: #16181b;
  font-weight: bold;
}

}
